<!DOCTYPE html>
<html lang="{{ .Params.LanguageCode }}">

<head>
  {{ if .Title }}
    <title>{{ .Title }} - {{.Site.Title}}</title>
  {{else}}
    <title>{{.Site.Title}}</title>
  {{ end }}

  {{ partial "head.html" . }}
</head>

<body>
  {{ partial "header.html" . }}
  <div class="container">

    {{ if .Title }}
      {{ if eq .Data.Singular "tag" }}
        <h1>#{{ .Title }}</h1>    
      {{else}}
        <h1>{{ .Title }}</h1>
      {{ end }}
    {{ end }}

    <div>
      {{ range .Data.Pages }}
        <article>
          <time>{{ .Date.Format "02.01.2006" }}</time>          
          {{ partial "tags.html" .Params.tags }}
          <h2 class="articleHeader"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        </article>        
      {{ end }}
    </div>
        
  </div>
  {{ partial "footer.html" . }}

</body>

</html>